<nav>
	<div class="site-title">
		<a href="/"> <h1> Hire.me </h1> </a>
	</div>
	<ul>
		<li> <a href="/"> Home </a> </li>
		<li> <a href="/apps"> Manage Apps </a> </li>
	</ul>
	<a href="/logout"> Logout </a>
</nav>