
<nav class="navbar navbar-expand navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Hire.me</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
			    	<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
			  		<a class="nav-link" href="/results/apps"> Manage Apps </a>
				</li>
		    </ul>

		    <<!-- OFF CANVAS -->
			<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" 
					aria-controls="offcanvasRight">Toggle right offcanvas</button>
			<button> <a class="nav-link" href="/users/logout"> Logout </a> </button>
		</div>
	</div>
	
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Settings</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
	<!-- Get params for web scraper -->
	<div class="form container">
		<form id="criteria" method="POST" action='/'>
			<div class="basic-criteria">
				<label for="position"> Enter a Job Title or keywords </label>
				<input id='position' type="text" name="position" />

				<label for="location"> Enter a Location </label>
				<input id='location' type="text" name="location" />
			</div>

			<div class='exclude'>
				<ul id="fieldList">
					<li>
						<label for="company" class='company'> Companies you want to exclude? </label>
						<input id='company' type="text" name="company" />
					</li>
				</ul>
				<button id='addMore' class='btn-outline-dark'> + </button>	
			</div>

			<div class="range-input">
				<input id='range' type="range" name='range' min='0' max = "10" value="0" step="2">
				<div class="value">
					 <div id='targetVal'></div>
				</div>
			</div> 
			<input onclick='setStorage()' type="submit" class="submit" />
			<input id='sendEmail' name='sendEmail' type='checkbox' id='sendEmail' />
		</form>
	</div>
  </div>
</div>
