
<%- include('./partials/head.ejs') %>

<body>
	<%- include('./partials/nav.ejs') %>

	<!-- Get params for web scraper -->
	<div class="form container">
		<form id="criteria" method="POST" action='/'>
			<label for="title"> Enter a Job Title or keywords </label>
			<input type="text" name="title" />

			<label for="location"> Enter a Location </label>
			<input type="text" name="location" />

			<label for="ignore"> Are there any companies you want to Exclude </label>
			<input type="text" name="ignore">

			<input type="submit" class="submit" value="set values" />
		</form>
	</div>

	<!-- Display app listings -->
	<div class="app-listings">
		<table>
			
		</table>
	</div>

	<% if (jobs.length > 0) { %>
		<% jobs.forEach(job => { %>
			<p> job.title </p>
		<% }) %>
	<% } else { %>
		<h2> No listings to show </h2>
	<% } %>

	<%- include('./partials/footer.ejs') %>
