<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
	<div class="hero">
		<h1 id='hire.me'> Hire.me </h1>
		<p id='description'> Hire.me is a ... </p>
	</div>
	<div class="login">
		<h1> filler... </h1>
	</div>
	<div class="new-account">

	</div>
</body>
</html>