<%- include('./partials/head.ejs') %>

<body>
	<div class="hero">
		<h1 id='hire.me'> Hire.me </h1>
		<p id='description'> Hire.me is a ... </p>
	</div>
	<div class="login_container">
		<h1> Login </h1>

		<ul>
		<% if(messages.success_msg) { %>
			<li> <%= messages.success_msg %> </li>
		<% } %>
		</ul>

		<ul>
		<% if(messages.error) { %>
			<li> <%= messages.error %> </li>
		<% } %>
		</ul>

		<form action='/users/login' id='login' method='POST'>
			<label for='email'> Email </label>
			<input type='email' name='email' required/>
			<label for='password'> Password </label>
			<input type='text' name='password' required/>
			<div>
				<input type='submit' value='login'/>
			</div>
			<a href='/users/register'> Don't have an account? </a>
		</form>
	</div>
		</form>
	</div>

<%- include('./partials/footer.ejs') %>