<%- include('./partials/head.ejs') %>

<body>
	<div class='hero-body text-center'>
		<div class="hero">
			<h1 id='hireme'> Hire.me </h1>
			<p id='description'> Multiple job boards all in one place </p>
			<img id='logo' src='/img/resume.svg'>
		</div>
		<div class="user-container">

			<% if(message.length > 0) { %>
				<p> <%= message %> </p>
			<% } %>
			
			<% if(messages.error) { %>
				<p> <%= messages.error %> </p>
			<% } %>

			<h1> Login </h1>

			<form action='/users/login' method="POST">
				<div class="mb-3">
					<input type="email" class="form-control" id="formGroupExampleInput" placeholder="Enter email" name='email' required />
				</div>
				<div class="mb-3">
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Password" name='password' required />
				</div>
				<div class='d-grid gap-2'>
					<input id='login' class='btn' type='submit' value='login'/>
				</div>
				<hr>
				<p> Don't have an account? <a class='reg-link' href='/users/register'> Register here </a> </p>
			</form>
		</div>
	</div>

<%- include('./partials/footer.ejs') %>