<%- include('./partials/head.ejs') %>

<body>
	<div class="hero">
		<h1 id='hire.me'> Hire.me </h1>
		<p id='description'> Hire.me is a ... </p>
	</div>
	<div class="login_container">
		<form id='login'>
			<label for='username'> username </label>
			<input type='text' name='username' />
			<label for='password'> password </label>
			<input type='text' name='password' />
			<input type='submit' />
		</form>
	</div>
		</form>
	</div>

<%- include('./partials/footer.ejs') %>