<%- include('./partials/head.ejs') %>

<body>
	<div class='hero-body text-center'>
		<div class="hero">
			<h1 id='hire.me'> Hire.me </h1>
			<p id='description'> Hire.me is a ... </p>
		</div>
		<div class="login-container">
			<h1> Login </h1>

			<ul>
			<% if(messages.success_msg) { %>
				<li> <%= messages.success_msg %> </li>
			<% } %>
			</ul>

			<ul>
			<% if(messages.error) { %>
				<li> <%= messages.error %> </li>
			<% } %>
			</ul>

			<form action='/users/login' method="POST">
				<div class="mb-3">
					<input type="email" class="form-control" id="formGroupExampleInput" placeholder="Enter email" name='email' required />
				</div>
				<div class="mb-3">
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Password" name='password' required />
				</div>
				<div class='d-grid gap-2'>
					<input class='btn btn-info' type='submit' value='login'/>
				</div>
				<hr>
				<a class='reg-link' href='/users/register'> Don't have an account? </a>
			</form>
		</div>
	</div>

<%- include('./partials/footer.ejs') %>