<%- include('./partials/head.ejs') %>

<body>
	<div class="hero">
		<h1 id='hire.me'> Hire.me </h1>
		<p id='description'> Hire.me is a ... </p>
	</div>
	<div class="login_container">
		<form action='/users/login' id='login' method='POST'>
			<label for='username'> Username or Email </label>
			<input type='text' name='username' required/>
			<label for='password'> Password </label>
			<input type='text' name='password' required/>
			<div>
				<input type='submit' value='login'/>
			</div>
			<a href='/register'> Don't have an account? </a>
		</form>
	</div>
		</form>
	</div>

<%- include('./partials/footer.ejs') %>