<%- include('./partials/head.ejs') %>

<body>
	<div class="hero">
		<h1 id='hire.me'> Hire.me </h1>
		<p id='description'> Hire.me is a ... </p>
	</div>
	<div class="register_container">
		<form id='register' action='/register' method='POST'>
			<label for='username'> Username </label>
			<input id='name' type='text' name='username' required/>
			<label for='email'> Email </label>
			<input id='email' type='text' name='email' required/>
			<label for='password'> Password </label>
			<input id='password' type='text' name='password' required/>
			<label for='password2'> Confirm Passord </label>
			<input id='password2' type='text' name='password2' required/>
			<div>
				<input type='submit' value="Register"/>
			</div>
			<a href="/login"> Already have an account? </a>
		</form>
	</div>

<%- include('./partials/footer.ejs') %>

