* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: #201a31 !important;
	/* background: #4471ef; */
	/* font-family: 'Arvo', serif; */
	/* font-family: 'Montserrat', sans-serif; */
	/* font-family: 'Ubuntu', sans-serif; */
	font-family: "Raleway",sans-serif !important;
	background-size: cover;
	color: #FFFF;
}

/* Navbar */
nav {
	padding: 2em;
	background-color: #38304d;
}

nav .btn-primary {
	margin: auto 20px;
}

/* Settings Section */
.offcanvas {
	background-color: #383838;
	color: white;
}

#fieldList {
	padding: 0;
	margin: 0;
	display: inline-block;
}

#fieldList li {
	list-style: none;
}

.basic-criteria {
	display: flex;
	flex-direction: column;
}

#addMore {
	width: 8%;
}

.range-input{
	top:50%;
	left:50%;
	background-color: #eee;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	border-radius: 10px;
}

.range-input input{
	-webkit-appearance: none;
	width: 200px;
	height: 2px;
	background-color: #4471ef;
	outline: none;
}

.range-input input::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: #eee;
	border: 2px solid #4471ef;
	border-radius:50%;
	outline: none;
}

.range-input input::-webkit-slider-thumb:hover{
	background-color: #4471ef;
}

.range-input .value{
	color: #4471ef;
	text-align: center;
	font-weight:600;
	line-height: 40px;
	height: 40px;
	overflow: hidden;
}

.range-input .value div{
	transition: all 300ms ease-in-out;
}

.submit {
	margin-top: 10px;
}

/* Results Table */
td {
	padding: 5px;
}

.row {
	display: flex;
	gap: 30px;
	/* background-color: #1bbc9b; */
	/* background-color: #03DAC6; */
}

.col {
	background: inherit;
	background-color: #272727;
	padding: 2em;
}

/* .col:before{
	content: “ ”;
	background: inherit; 
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;
	box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
	filter: blur(10px);
} */

.container {
	padding: 60px;
	max-width: 1140px !important;
	color: #FFFF;
}

.job-link {
	text-decoration: none;
}

.job-link:hover {
	color: brown;
	text-decoration: underline;
}

/* login form */

.user-container {
	margin: auto;
	padding: 30px;
	background-color: #38304d;
	color: #FFFF;
}

.form-control {
	background-color: #201a31;
	border: 1px solid #201a31;
}

.reg-link {
	display: flex;
	justify-content: center;
}

.hero {
	padding: 30px;
	margin: auto;
	color: #FFFF;
}

.hero-body {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 0 25em;
}

.reg-body {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	flex-direction: column;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-top: -250px; /* Half the height */
	margin-left: -250px; /* Half the width */

}

.reg-body .form-floating {
	padding: 9px 0;
}

#login {
	background-color: #32e9a8;
	border-color: #32e9a8;
}

#hireme {
	font-weight: 700;
	font-size: 52px;
}

#logo {
	width: 130px;
	height: auto;
	filter: invert(75%) sepia(71%) saturate(447%) hue-rotate(96deg) brightness(94%) contrast(94%);
}

/* register form */
#register-submit {
	background-color: #32e9a8;
	border-color: #32e9a8;
}

/* cool colors:
salmon: #efa691
turquoise: #03DAC6,
lowkey turqoise: #84d0cc,
dark: #121212,
puple: #BB86FC,
dark purple: #3700B3 
error: #CF6679 
light-grey: #383838 
light-grey2 : #272727
lighter-grey: #c6cacb
navy: #17242c 
emerald: #096f64 */
