* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #34699a !important;
}

/* Navbar */
nav .btn-primary {
	margin: auto 20px;
}

/* Settings Section */
#fieldList {
	padding: 0;
	margin: 0;
	display: inline-block;
}

#fieldList li {
	list-style: none;
}

.basic-criteria {
	display: flex;
	flex-direction: column;
}

#addMore {
	width: 8%;
}

.submit {
	margin-top: 10px;
}

/* Results Table */
td {
	padding: 5px;
}

.row {
	display: flex;
	gap: 30px;
	background-color: gray;
}

.container {
	padding: 60px;
	max-width: 1140px !important;
}

.job-link {
	text-decoration: none;
	color: black;
}

.job-link:hover {
	color: brown;
	text-decoration: underline;
}

/* login form */
.user-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
	background-color: #1bbc9b;
}

.reg-link {
	display: flex;
	justify-content: center;
}

.hero {
	padding: 30px;
}

.hero-body {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-top: -250px; /* Half the height */
	margin-left: -250px; /* Half the width */

}

.reg-body {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	flex-direction: column;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-top: -250px; /* Half the height */
	margin-left: -250px; /* Half the width */

}

.reg-body .form-floating {
	padding: 9px 0;
}
